{% extends 'base.html' %}

{% block content %}
<div class="contenido_la">
    <nav class="navla">
        <div class="t1">
            <h1>Programas de Formación</h1>
        </div>
        <div class="enlaces">
            <a href="{% url 'programas:crear_programa' %}" class="btn_addA">
                <i class="fas fa-plus"></i> Añadir Programa
            </a>
        </div>
    </nav>
    <section class="sectionla">
        <div class="total-aprendices">
            <i class="fas fa-book-open"></i>
            Total de programas: {{ programas_list|length }}
        </div>
        <div class="tabla-contenedor">
            <center>
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre del Programa</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for programa in programas_list %}
                        <tr>
                            <td>{{ programa.id }}</td>
                            <td>{{ programa.nombre_programa }}</td>
                            <td>{{ programa.descripcion }}</td>
                            <td>
                                <a href="#" class="btn_info">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="#" class="btn_edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" class="btn_delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No hay programas creados.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div>
    </section>
</div>
{% endblock %}